import("stats","SpatialNP","ICSNP","graphics")
importFrom("ellipse","ellipse")
importFrom("ICS","covOrigin")

export(mv.1sample.est, mv.1sample.test,plotMvloc, mv.2sample.est, mv.Csample.test, mv.2way.test, mv.2way.est, mv.shape.est, mvPCA, affine.trans, mv.shape.test, 
plotShape, mv.ind.test, runifsphere, rmvpowerexp, pairs2, mv.l1lm, spatial.sign2)
S3method(print,mvcloc)
S3method(summary,mvcloc)
S3method(print,mvloc)
S3method(summary,mvloc)
S3method(plot,mvloc)
S3method(print,mvPCA)
S3method(summary,mvPCA)
S3method(plot,mvPCA)
S3method(screeplot,mvPCA)
S3method(predict,mvPCA)
S3method(print,summary.mvPCA)
S3method(plot,mvl1lm)
S3method(print,mvl1lm)
S3method(predict,mvl1lm)
S3method(summary,mvl1lm)
S3method(fitted,mvl1lm)
S3method(residuals,mvl1lm)
S3method(vcov,mvl1lm)
S3method(anova,mvl1lm)
S3method(print,anovamvl1lm)